@import url("framwork.css");
@import url("media.css");
@import url("about.css");
@import url("services.css");
@import url("navscroll.css");
@import url("popup.css");
@import url("carosuel.css");
* {
  box-sizing: border-box;
  transition: all 0.4s ease;
}
body {
  position: relative;
  height: auto;
}
/************************** Start Home Page ********************************/
/* start Navbar */
.head {
  background-color: #0c1e39;
  height: auto;
  position: relative;
}
.head .back {
  position: absolute;
  right: 0;
  top: 0;
}
.mr-byme {margin-left: 190px;}
.head .navbar-brand img {width: 40%;}
.head .navbar .active {color: #6ec59e;}
.head .intro {
  padding-top: 20px;
  padding-bottom: 140px;
}
.head .intro .row .left h3 {
  color: #fff;
  margin-bottom: 20px;
}
.head .intro .row .left h3 span {
  color: #6ec59e;
  font-size: 40px;
}
.head .intro .row .left p {
  color: #fff;
  margin-bottom: 20px;
}
.box {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  z-index: 9999;
  top: -100px;
  box-shadow: 1px 6px 3px rgba(89, 91, 93, 0.32);

}
.box .row .vision h4 {
  margin-top: 25px;
  margin-bottom: 20px;
  color: #0c1e39;
}
.box p {
  font-size: 17px;
  color: #0c1e39;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 1.7;
}
/*************** Start Our Product *****************/
.our-services {
  background-color: #f2f2f2;
  padding-bottom: 4%;
  position: relative;
}
.our-services .back {
  position: absolute;
  right: 0;
  top: 0;
}
.our-services .our {
  padding-top: 25%;
  margin-bottom: 6%;
}
.our-services .our span {
  font-size: 30px;
  font-weight: bold;
  color: #4992cf;
}
.our-services .our .row h4 {
  margin-top: 10px;
}
.our-services .our button {
  margin-top: 4%;
  width: 230px;
  height: 65px;
  background-color: #6ec59e - #4992cf;
}
.our-services .our .words .first {font-size: 18px;}
.our-services .our .words .second {font-size: 17.5px;}
.our-services .our .words .third {font-size: 17.5px;}
.our-services .our button .arro {margin-left: 15px;}
.our-services .our button a {text-decoration: none;}
.our-services .product h3 {margin-bottom: 4%;}
.our-services .product .bod {
  background-color: #fff;
  border-radius: 18px;
  margin-bottom: 30px;
}
.our-services .product .bod {padding-left: 25px;}
/************** End Our Product *************/
/************** Start Our Work *************/
.our-work {
  margin-top: 50px;
  position: relative;
}
.our-work .back {
  position: absolute;
  left: 0;
  bottom: 0;
}
.our-work .row .offer {margin-bottom: 25%;}
.our-work .row .project {
  width: 90%;
  height: 90%px;
  margin-bottom: 40px;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 50px;
  position: relative;
  text-align: center;
}
.our-work .row .project .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: bold;
  background-color: rgba(112, 112, 112, 0.4);
  display: none;
}
.our-work .row .project:hover .overlay {display: block;}
.our-work .number {
  position: absolute;
  right: 0;
  top: 50%;
}
.our-work .number .step {
  width: 80px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 30px 0px 0px 30px;
  background-image: linear-gradient(#6ec59e, #4992cf);
  margin-bottom: 20px;
}
.our-work .number .step a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
/********************** Start Our Team ***************/
.our-team {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}
.our-team p {
  color: #0c1e39;
  font-size: 17px;
}
.our-team .caro .team {
  margin: 10px;
  position: relative;
  background-image: linear-gradient(#6ec59e, #4992cf);
  border-radius: 10px;
}
.our-team .caro .team img {
  border-radius: 10px;
  opacity: 0.75;
}
.our-team .caro .team img:hover {
  opacity: 1;
  cursor: pointer;
}
.our-team .caro .team .infoo {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.our-team .caro .team .infoo p,
.our-team .caro .team .infoo h5 {
  color: #fff;
  max-width: 100%;
  height: auto;
}
/********************** End Our Team ****************/
/********************** Start Our client ***************/
.our-client {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}
.our-client p {
  color: #0c1e39;
  font-size: 17px;
}
/********************** End Our Team ****************/
/********************** Start together ***************/
.form {
  background-color: #f2f2f2;
  padding-top: 70px;
  padding-bottom: 70px;
}
.form .offer h3 {
  color: #4992cf;
  font-size: 32px;
  margin-bottom: 20px;
}
.form .offer p {
  font-size: 23px;
  margin-bottom: 20px;
}
.form form input,
.form form textarea {
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 35px;
  border: none;
}
.form form button,
.form form select {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: large;
  border-radius: 15px;
}
.form form select {
  height: 70px;
  margin-bottom: 20px;
}
.form form button .arro {margin-left: 20px;}
/********************** End together ***************/
/***************** Start footer ********************/
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #0c1e39;
}
.footer .logo img {width: 60%;}
.footer .some,
.footer .social {margin-top: 50px;}
.footer .some .info {
  padding-left: 95px;
  color: #fff;
}
.footer p,
.footer h5 {color: #fff;}
.footer .social ul li {
  background-image: linear-gradient(#6ec59e, #4992cf);
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  list-style: none;
  display: inline-block;
}
.footer i {color: #fff;}
/****************** End Footer ****************/
/************************** End Home Page ********************************/
/** Taps **/
.nav-tabs { border: none;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: none;
    border: none;
}
/** Set navbar toggler icon **/
.navbar-toggler-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-toggler-icon i {color: #f2f2f2;}
.navbar-nav .nav-link:hover {color: #6ec59e;}